.about-hero{
    max-width:100%;
    margin:auto;
    padding:80px 6% 80px;
    /* display:flex;
    align-items:center;
    justify-content:space-between;
    gap:200px; */
}

/* .about-left{
    flex:1;
} */

/* .about-tag{
    display:inline-block;
    background:#dff5e3;
    color:#09350b;
    padding:8px 18px;
    align-items:center;
    border-radius:30px;
    font-weight:600;
    margin-bottom:20px;
    
} */

.about-hero h2{
    font-size:20px;
    color:#054509;
    margin-bottom:25px;
    background:#dff5e3;
    border-radius:30px;
    font-weight:600;
    
    /* max-width:fit-content; */

}

/* .about-left h1{
    font-size:30px;
    line-height:1.15;
    margin-bottom:25px;
    color:#1f2937;
}

.about-left h1 span{
    color:#2e7d32;
} */

.about-left h2{
    font-size:35px;
    line-height:1.15;
    margin-bottom:25px;
    color:#2e7d32;
}

.about-left h2 span{
    color:rgba(48, 7, 7, 0.758);
}

.about-left p{
    font-size:18px;
    color:#555;
    line-height:1.8;
    margin-bottom:18px;
}

.about-buttons button{
    margin-top:15px;
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#2e7d32;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.about-buttons button:hover{
    background:#1b5e20;
}

.about-right{
    flex:1;
    display:flex;
    justify-content:center;
}

.about-right img{
    width:100%;
    max-width:480px;
    border-radius:25px;
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

/* Impact */

.impact{
    /* padding:80px 6%; */
    text-align:center;
}

.impact h2{
    font-size:40px;
    color:#2e7d32;
    margin-bottom:50px;
}

.impact-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.impact-card{
    background:white;
    padding:35px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.impact-card h3{
    font-size:40px;
    color:#2e7d32;
    margin-bottom:10px;
}

/* Values */

.values{
    padding:80px 6%;
    text-align:center;
}

.values h2{
    font-size:40px;
    color:#2e7d32;
    margin-bottom:50px;
}

.values-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.value-card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.value-card:hover{
    transform:translateY(-10px);
}

.value-card h3{
    margin:18px 0;
    color:#1f2937;
}

.value-card p{
    color:#666;
    line-height:1.7;
}

@media(max-width:992px){

.about-hero{
flex-direction:column-reverse;
text-align:center;
}

.about-left h1{
font-size:42px;
}

.impact-grid,
.values-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.about-left h1{
font-size:32px;
}

.impact-grid,
.values-grid{
grid-template-columns:1fr;
}

.about-right img{
max-width:320px;
}

}